In [8]:
import pandas as pd 
import numpy as np 
import csv
#row to column conversion with time split of half an hour (48*2)
df = pd.read_excel(r'C:\Users\Sk Md Hasan\Desktop\test.xlsx', parse_dates=['date'])
df['date'] = df['date'].dt.date
grouped = df.groupby(['date'])
dfs = []
for group_name, df_group in grouped:
    date_list = []
    for val in df_group['LWIN_0_0_1(W/m^2)']:
        date_list.append([str(group_name).replace('datetime.date(','').replace(')',''), val])
    df_out = pd.DataFrame(date_list, columns = ['date', 'LWIN_0_0_1(W/m^2)'])
    dfs.append(df_out)
# print(date_list)
data = pd.concat(dfs, axis=1)
data.to_csv('results12.csv')

C:\Users\Sk Md Hasan\AppData\Local\Temp\ipykernel_19700\1820742599.py:8: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for group_name, df_group in grouped: